.title_primary{
  font-size: var(--font-1);
  color: var(--color-grey-0);
}

.title_secondary{
  font-size: var(--font-2);
  color: var(--color-grey-0);
}

.text_primary{
  font-size: var(--font-3);
  color: var(--color-grey-3);
}

.text_secondary{
    font-size: var(--font-4);
    color: var(--color-grey-3);
}